.about {
  width: 100%;
  height: 100vh;
  display: flex;
}
.about .background {
  width: 23.5%;
  height: 100vh;
  // background-color: aqua;
  background-color: rgb(10, 16, 30);
}
.about .center {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  //   background-color: aqua;
  //   margin-left: 10px;
  padding-top: 100px;
  scroll-behavior: smooth;

}
.about .center .deed {
  width: 55%;
  height: 80px;
  // background-color: aqua;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .center .deed .davhar {
  width: 180px;
  height: 50px;
  // background-color: green;
  top: 0;
  bottom: 0;
  position: absolute;
  // margin: auto;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
.about .center .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

.about .center .dood {
  width: 80%;
  height: 400px;
  // background-color: red;
  margin: auto;
  margin-top: 25px;
  display: flex;
  // padding-top: 30px;
  margin-top: 70px;
}
.about .center .dood .zuun {
  width: 35%;
  height: 80%;
  background-color: gray;
}
.about .center .dood .zuun img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .center .dood .baruun {
  width: 65%;
  height: 100%;
  // background-color: aqua;
  padding-left: 150px;
  padding-top: 20px;
}
.about .center .dood .baruun .ner {
  width: 100%;
  height: 35px;
  // background-color: aqua;
  color: white;
}
.about .center .dood .baruun .dev {
  width: 100%;
  height: 30px;
  // background-color: #fff;
  color: rgb(244, 189, 66);

  padding-top: 20px;
}
.about .center .dood .baruun .ugnuud {
  width: 100%;
  height: 100px;
  // background-color: aqua;
  padding-top: 20px;
  padding-right: 50px;
  color: rgb(133, 138, 149);
}
.about .center .dood .baruun .list {
  width: 100%;
  height: 150px;
  // background-color: #fff;
  color: rgb(133, 138, 149);
}
.about .center .dood .baruun .list p {
  padding-top: 10px;
}
