.service {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}
.service .back {
  width: 23.5%;
  height: 100vh;
  // background-color: aqua;
  background-color: rgb(10, 16, 30);
}
.service .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  //   background-color: aqua;
  //   margin-left: 10px;
  padding-top: 100px;
}
.service .gol .deed {
  width: 55%;
  height: 80px;
  // background-color: aqua;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service .gol .deed .davhar {
  width: 180px;
  height: 50px;
  // background-color: green;
  top: 0;
  bottom: 0;
  position: absolute;
  // margin: auto;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
.service .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}
.service .gol .dood {
  width: 85%;
  height: 450px;
  //   background-color: aqua;
  margin: auto;
  margin-top: 40px;
}
.service .gol .dood .up {
  width: 100%;
  height: 48%;
  //   background-color: red;
  display: flex;
  justify-content: space-between;
}
.service .gol .dood .up .rec {
  width: 30%;
  height: 100%;
  //   background-color: wheat;
  border: 0.5px solid rgba(95, 95, 95, 0.7);
  background-color: rgb(16, 22, 36);
}

.service .gol .dood .bot {
  width: 100%;
  height: 48%;
  //   background-color: green;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.service .gol .dood .bot .rec {
  width: 30%;
  height: 100%;
  //   background-color: wheat;
  border: 0.5px solid rgba(95, 95, 95, 0.7);
  background-color: rgb(16, 22, 36);
}
