* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gadnah {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(7, 13, 27);
  display: flex;
}

.container .header1 {
  width: 20%;
  height: 100vh;
}
@media only screen and (max-width: 995px) {
  .container .header1 {
    display: none;
  }
}

.container .header {
  width: 20%;
  height: 100%;
  background-color: rgb(62, 68, 80);
  border-right: 0.5px solid rgba(95, 95, 95, 0.7);
  position: fixed;
}
@media only screen and (max-width: 995px) {
  .container .header {
    display: none;
  }
}

.container .header .photo {
  width: 100%;
  height: 40%;
  background-color: rgb(7, 13, 27);
  padding-top: 90px;
}

.container .header .photo .zurag {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  margin: auto;
}

.container .header .photo .zurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 100px;
}

.container .header .songolt {
  width: 100%;
  height: 60%;
  background-color: rgb(7, 13, 27);
  padding-top: 10px;
}

.container .header .songolt .text {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
}

.container .header .songolt .text:hover {
  color: rgb(244, 189, 66);
}

.container .home {
  width: 100%;
  height: 100vh;
  background-image: url(/img/bc1.jpg);
  padding-top: 250px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 996px) {
  .container .home {
    padding-top: 150px;
  }
}

.container .home .garchig {
  width: 100%;
  height: 80px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  color: white;
}
@media only screen and (max-width: 996px) {
  .container .home .garchig {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 951px) {
  .container .home .garchig h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 499px) {
  .container .home .garchig h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 437px) {
  .container .home .garchig h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 407px) {
  .container .home .garchig h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 951px) {
  .container .home .garchig span {
    font-size: 48px;
  }
}
@media only screen and (max-width: 499px) {
  .container .home .garchig span {
    font-size: 40px;
  }
}
@media only screen and (max-width: 437px) {
  .container .home .garchig span {
    font-size: 36px;
  }
}
@media only screen and (max-width: 407px) {
  .container .home .garchig span {
    font-size: 30px;
  }
}
.container .home .uguulber {
  width: 60%;
  height: 100px;
  margin: auto;
  text-align: center;
  font-size: 18.5px;
  padding-top: 40px;
  color: rgb(169, 173, 184);
}
@media only screen and (max-width: 951px) {
  .container .home .uguulber {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 447px) {
  .container .home .uguulber {
    font-size: 16px;
  }
}
@media only screen and (max-width: 447px) {
  .container .home .uguulber {
    font-size: 16px;
  }
}

.container .home .icon {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
@media only screen and (max-width: 882px) {
  .container .home .icon {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 691px) {
  .container .home .icon {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 995px) {
  .container .home .icon {
    margin-top: 40px;
  }
}

.container .home .icon .social {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.184);
  color: gray;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  cursor: pointer;
}

.container .home .icon .social:hover {
  border: 2px solid rgb(169, 173, 184);
}

.maxwidth {
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}
@media only screen and (max-width: 800px) {
  .maxwidth {
    padding: 0;
  }
}
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgb(10, 16, 30);
}
@media only screen and (max-width: 1203px) {
  .about {
    height: 600px;
  }
}
@media only screen and (max-width: 824px) {
  .about {
    height: 1200px;
  }
}
@media only screen and (max-width: 741px) {
  .about {
    height: fit-content;
  }
}
.about .background {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}
@media only screen and (max-width: 995px) {
  .about .background {
    display: none;
  }
}

.about .center {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
  /* scroll-behavior: smooth; */
}
@media only screen and (max-width: 995px) {
  .about .center {
    width: 100%;
    height: 100vh;
  }
}

.about .center .deed {
  width: 100%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 622px) {
  .about .center .deed {
    font-size: 30px;
    /* padding-top: 10px; */
  }
}
@media only screen and (max-width: 461px) {
  .about .center .deed {
    color: rgb(244, 189, 66);
    font-size: 20px;
  }
}

.about .center .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
@media only screen and (max-width: 622px) {
  .about .center .deed .davhar {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 461px) {
  .about .center .deed .davhar {
    display: none;
  }
}

.about .center .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}
@media only screen and (max-width: 622px) {
  .about .center .deed .davhar .line {
    display: none;
  }
}
.about .center .dood {
  width: 100%;
  height: 400px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  margin-top: 70px;
  /* margin-left: 30px; */
  /* background-color: aqua; */
}
@media only screen and (max-width: 824px) {
  .about .center .dood {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.about .center .dood .zuun {
  width: 35%;
  height: fit-content;
  margin: auto;
  top: 0;
  right: 0;
  /* background-color: gray; */
  padding-left: 40px;
}
@media only screen and (max-width: 713px) {
  .about .center .dood .zuun {
    /* margin-left: 40px; */
    margin-right: 100px;
  }
}
@media only screen and (max-width: 824px) {
  .about .center .dood .zuun {
    width: 90%;
    height: 100%;
    padding: 0;
    /* margin-left: 40px; */
    margin: auto;
  }
}
@media only screen and (max-width: 996px) {
  .about .center .dood .zuun {
    /* margin-left: 100px; */
  }
}
.about .center .dood .zuun img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.about .center .dood .baruun {
  width: 65%;
  height: 100%;
  /* background-color: red; */
  padding-left: 80px;
  padding-top: 20px;
}
@media only screen and (max-width: 824px) {
  .about .center .dood .baruun {
    text-align: center;
    /* background-color: aqua; */
    margin: auto;
    padding: 0;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 804px) {
  .about .center .dood .baruun {
    text-align: center;
    padding: 0;
    font-size: 14px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 661px) {
}

.about .center .dood .baruun .ner {
  width: 100%;
  height: 35px;
  color: white;
}
.about .center .dood .baruun .ner h1 {
}

@media only screen and (max-width: 716px) {
  .about .center .dood .baruun .ner h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 22px;
  }
}
@media only screen and (max-width: 680px) {
  .about .center .dood .baruun .ner h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 18px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 616px) {
  .about .center .dood .baruun .ner h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 16px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .about .center .dood .baruun .ner h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 14px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 548px) {
  .about .center .dood .baruun .ner h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 12px;
    margin-left: 20px;
  }
}
.about .center .dood .baruun .dev {
  width: 100%;
  height: 30px;
  color: rgb(244, 189, 66);
  padding-top: 20px;
}
@media only screen and (max-width: 1221px) {
  .about .center .dood .baruun .dev {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 824px) {
  .about .center .dood .baruun .dev {
    text-align: center;

    margin: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 804px) {
  .about .center .dood .baruun .dev {
    text-align: center;

    padding: 0;
    font-size: 14px;
  }
}

.about .center .dood .baruun .ugnuud {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  padding-right: 50px;
  color: rgb(133, 138, 149);
}
@media only screen and (max-width: 824px) {
  .about .center .dood .baruun .ugnuud {
    text-align: center;

    margin: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 804px) {
  .about .center .dood .baruun .ugnuud {
    text-align: center;

    padding: 0;
    font-size: 14px;
  }
}
.about .center .dood .baruun .list {
  width: 100%;
  height: 150px;
  color: rgb(133, 138, 149);
}
@media only screen and (max-width: 1027px) {
  .about .center .dood .baruun .list {
    display: none;
  }
}
.about .center .dood .baruun .list p {
  padding-top: 10px;
}

.service {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  background-color: rgb(10, 16, 30);

  display: flex;
}

@media only screen and (max-width: 1496px) {
  .service {
    height: 700px;
  }
}
.service .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}
@media only screen and (max-width: 995px) {
  .service .back {
    display: none;
  }
}

.service .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}
@media only screen and (max-width: 1158px) {
  .service .gol {
    width: 100%;
    height: 2000px;
  }
}

.service .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 622px) {
  .service .gol .deed {
    font-size: 30px;
    /* padding-top: 10px; */
  }
}
@media only screen and (max-width: 461px) {
  .service .gol .deed {
    color: rgb(244, 189, 66);
    font-size: 20px;
  }
}
.service .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
@media only screen and (max-width: 622px) {
  .service .gol .deed .davhar {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 461px) {
  .service .gol .deed .davhar {
    display: none;
  }
}

.service .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}
@media only screen and (max-width: 622px) {
  .service .gol .deed .davhar .line {
    display: none;
  }
}

.service .gol .door {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 250px 250px 250px;
  gap: 10px;
  margin: auto;
  padding-top: 100px;
}
@media only screen and (max-width: 1158px) {
  .service .gol .door {
    height: 1000px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px 200px;
  }
}
@media only screen and (max-width: 996px) {
  .service .gol .door {
    /* height: 1000px; */
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px 250px;
  }
}
@media only screen and (max-width: 614px) {
  .service .gol .door {
    grid-template-columns: 280px 280px;
    grid-template-rows: 150px 150px 150px;
  }
}
@media only screen and (max-width: 574px) {
  .service .gol .door {
    grid-template-columns: 240px 240px;
    grid-template-rows: 150px 150px 150px;
  }
}
@media only screen and (max-width: 518px) {
  .service .gol .door {
    grid-template-columns: 350px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
  }
}

.service .gol .door .item {
  /* background-color: red; */
  background-color: rgb(16, 22, 36);
  /* padding-top: 30px ; */
  border: 0.5px solid rgba(95, 95, 95, 0.7);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.service .gol .door .item h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.service .gol .door .item p {
  color: rgb(155, 161, 171);
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}
@media only screen and (max-width: 614px) {
  .service .gol .door .item p {
    display: none;
  }
}

.service .gol .door .item .circle {
  width: 60px;
  height: 60px;
  background-color: rgb(54, 59, 70);
  margin: auto;
  border-radius: 100px;
  color: rgb(176, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  transition: 1s;
}
.service .gol .dooe .item .circle:hover {
  border: 1px solid rgb(254, 197, 68);
  color: rgb(254, 197, 68);
}

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  display: flex;
}
@media only screen and (max-width: 1158px) {
  .portfolio {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 996px) {
  .portfolio {
    margin-top: 350px;
  }
}
@media only screen and (max-width: 1496px) {
  .portfolio {
    height: 700px;
  }
}
@media only screen and (max-width: 516px) {
  .portfolio {
    height: 800px;
    margin-top: 1150px;
  }
}
.portfolio .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}
@media only screen and (max-width: 995px) {
  .portfolio .back {
    display: none;
  }
}

.portfolio .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}
@media only screen and (max-width: 1158px) {
  .portfolio .gol {
    width: 100%;
    height: 2000px;
  }
}

.portfolio .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 622px) {
  .portfolio .gol .deed {
    font-size: 30px;
    /* padding-top: 10px; */
  }
}
@media only screen and (max-width: 461px) {
  .portfolio .gol .deed {
    color: rgb(244, 189, 66);
    font-size: 20px;
  }
}

.portfolio .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
@media only screen and (max-width: 622px) {
  .portfolio .gol .deed .davhar {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 461px) {
  .portfolio .gol .deed .davhar {
    display: none;
  }
}

.portfolio .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

@media only screen and (max-width: 622px) {
  .portfolio .gol .deed .davhar .line {
    display: none;
  }
}

.portfolio .gol .door {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 250px 250px 250px;
  gap: 10px;
  margin: auto;
  padding-top: 100px;
}
@media only screen and (max-width: 1158px) {
  .portfolio .gol .door {
    height: 2000px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px 200px;
  }
}
@media only screen and (max-width: 996px) {
  .portfolio .gol .door {
    /* height: 1000px; */
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px 250px;
  }
}
@media only screen and (max-width: 614px) {
  .portfolio .gol .door {
    grid-template-columns: 280px 280px;
    grid-template-rows: 150px 150px 150px;
  }
}

@media only screen and (max-width: 574px) {
  .portfolio .gol .door {
    grid-template-columns: 240px 240px;
    grid-template-rows: 150px 150px 150px;
  }
}
@media only screen and (max-width: 518px) {
  .portfolio .gol .door {
    grid-template-columns: 350px;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
  }
}

.portfolio .gol .door .item {
  background-color: red;
  position: relative;
}

.portfolio .gol .door .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.portfolio .gol .door .item .text {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(61, 60, 60, 0.384), rgba(15, 15, 15, 0.705));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  text-align: center;
  padding-top: 150px;
  cursor: pointer;
  color: white;
}
.portfolio .gol .door .item:hover .text {
  visibility: visible;
  opacity: 1;
}
.contact {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}
@media only screen and (max-width: 1158px) {
  .contact {
    margin-top: 220px;
  }
}
@media only screen and (max-width: 996px) {
  .contact {
    margin-top: 300px;
  }
}
@media only screen and (max-width: 519px) {
  .contact {
    height: 1000px;
    margin-top: 1000px;
    background-color: rgb(10, 16, 30);
  }
}

.contact .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}
@media only screen and (max-width: 995px) {
  .contact .back {
    display: none;
  }
}

.contact .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}
@media only screen and (max-width: 995px) {
  .contact .gol {
    width: 100%;
    height: 100vh;
  }
}
/* @media only screen and (max-width: 518px) {
  .contact .gol {
    margin-top: 500px;
  }
} */

.contact .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 622px) {
  .contact .gol .deed {
    font-size: 30px;
    /* padding-top: 10px; */
  }
}
@media only screen and (max-width: 461px) {
  .contact .gol .deed {
    color: rgb(244, 189, 66);
    font-size: 20px;
  }
}

.contact .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}
@media only screen and (max-width: 622px) {
  .contact .gol .deed .davhar {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 461px) {
  .contact .gol .deed .davhar {
    display: none;
  }
}

.contact .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}
@media only screen and (max-width: 622px) {
  .contact .gol .deed .davhar .line {
    display: none;
  }
}
.contact .zuun {
  width: 100px;
  height: 100px;
}

.contact .gol .dood {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}
@media only screen and (max-width: 850px) {
  .contact .gol .dood {
    display: flex;
    flex-direction: column;
  }
}

.contact .gol .dood .left {
  width: 50%;
  height: 100%;
}
@media only screen and (max-width: 850px) {
  .contact .gol .dood .left {
    width: 100%;
  }
}

.contact .gol .dood .left .garchig {
  width: 100%;
  height: 40px;
  color: white;
}

.contact .gol .dood .left .name {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 10px;
}

.contact .gol .dood .left .name input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  color: white;
}

.contact .gol .dood .left .mail {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .mail input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  color: white;
}

.contact .gol .dood .left .subject {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .subject input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  color: white;
  background-color: rgb(16, 22, 36);
}

.contact .gol .dood .left .message {
  width: 95%;
  height: 150px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .message input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  padding-bottom: 100px;
  color: white;
}

.contact .gol .dood .right {
  width: 50%;
  height: 100%;
  padding-left: 10px;
}
@media only screen and (max-width: 850px) {
  .contact .gol .dood .right {
    width: 100%;
  }
}

.contact .gol .dood .right .garchig {
  width: 100%;
  height: 40px;
  color: white;
}

.contact .gol .dood .right .uguulber {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: rgb(152, 154, 158);
  margin-top: 1px;
}
@media only screen and (max-width: 401px) {
  .contact .gol .dood .right .uguulber {
    font-size: 14px;
  }
}

.contact .gol .dood .right .mail {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .mail .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
  transition: 0.5s;
}

.contact .gol .dood .right .mail .l:hover {
  border: solid 2px rgb(244, 189, 66);
  color: rgb(244, 189, 66);
}

.contact .gol .dood .right .mail .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .mail .r h4 {
  color: white;
  font-size: 18px;
}

.contact .gol .dood .right .mail .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 3px;
}

.contact .gol .dood .right .phone {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .phone .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
  transition: 0.5s;
}

.contact .gol .dood .right .phone .l:hover {
  border: solid 2px rgb(244, 189, 66);
  color: rgb(244, 189, 66);
}

.contact .gol .dood .right .phone .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .phone .r h4 {
  color: white;
}

.contact .gol .dood .right .phone .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 10px;
}

.contact .gol .dood .right .adress {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .adress .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
  transition: 0.5s;
}

.contact .gol .dood .right .adress .l:hover {
  border: solid 2px rgb(244, 189, 66);
  color: rgb(244, 189, 66);
}

.contact .gol .dood .right .adress .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .adress .r h4 {
  color: white;
}

.contact .gol .dood .right .adress .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 4px;
} /*# sourceMappingURL=style.css.map */
