* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gadnah {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(7, 13, 27);
  display: flex;
}

.container .header1 {
  width: 20%;
  height: 100vh;
}

.container .header {
  width: 20%;
  height: 100vh;
  background-color: rgb(62, 68, 80);
  border-right: 0.5px solid rgba(95, 95, 95, 0.7);
  position: fixed;
}

.container .header .photo {
  width: 100%;
  height: 40%;
  background-color: rgb(7, 13, 27);
  padding-top: 90px;
}

.container .header .photo .zurag {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  margin: auto;
}

.container .header .photo .zurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.container .header .songolt {
  width: 100%;
  height: 60%;
  background-color: rgb(7, 13, 27);
  padding-top: 10px;
}

.container .header .songolt .text {
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  font-size: 22px;
  text-align: center;
  color: white;
}

.container .home {
  width: 80%;
  height: 100vh;
  background-image: url(/img/bc1.jpg);
  padding-top: 250px;
}

.container .home .garchig {
  width: 60%;
  height: 80px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  color: white;
}

.container .home .uguulber {
  width: 60%;
  height: 100px;
  margin: auto;
  text-align: center;
  font-size: 18.5px;
  padding-top: 40px;
  color: rgb(169, 173, 184);
}

.container .home .icon {
  width: 200px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.container .home .icon .social {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.184);
  color: gray;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}

.maxwidth {
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
}

.about .background {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}

.about .center {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}

.about .center .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .center .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}

.about .center .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

.about .center .dood {
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  margin-top: 70px;
}

.about .center .dood .zuun {
  width: 35%;
  height: 80%;
  background-color: gray;
}

.about .center .dood .baruun {
  width: 65%;
  height: 100%;
  padding-left: 150px;
  padding-top: 20px;
}

.about .center .dood .baruun .ner {
  width: 100%;
  height: 35px;
  color: white;
}

.about .center .dood .baruun .dev {
  width: 100%;
  height: 30px;
  color: rgb(244, 189, 66);
  padding-top: 20px;
}

.about .center .dood .baruun .ugnuud {
  width: 100%;
  height: 100px;
  padding-top: 20px;
  padding-right: 50px;
  color: rgb(133, 138, 149);
}

.about .center .dood .baruun .list {
  width: 100%;
  height: 150px;
  color: rgb(133, 138, 149);
}

.about .center .dood .baruun .list p {
  padding-top: 10px;
}

.service {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

.service .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}

.service .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}

.service .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}

.service .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

.service .gol .dood {
  width: 85%;
  height: 450px;
  margin: auto;
  margin-top: 40px;
}

.service .gol .dood .up {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: space-between;
}

.service .gol .dood .up .rec {
  width: 30%;
  height: 100%;
  border: 0.5px solid rgba(95, 95, 95, 0.7);
  background-color: rgb(16, 22, 36);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.service .gol .dood .up .rec h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.service .gol .dood .up .rec p {
  color: rgb(155, 161, 171);
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.service .gol .dood .up .rec .circle {
  width: 60px;
  height: 60px;
  background-color: rgb(54, 59, 70);
  margin: auto;
  border-radius: 100px;
  color: rgb(176, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.service .gol .dood .bot {
  width: 100%;
  height: 48%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.service .gol .dood .bot .rec {
  width: 30%;
  height: 100%;
  border: 0.5px solid rgba(95, 95, 95, 0.7);
  background-color: rgb(16, 22, 36);
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.service .gol .dood .bot .rec h4 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.service .gol .dood .bot .rec p {
  color: rgb(155, 161, 171);
  text-align: center;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.service .gol .dood .bot .rec .circle {
  width: 60px;
  height: 60px;
  background-color: rgb(54, 59, 70);
  margin: auto;
  border-radius: 100px;
  color: rgb(176, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.portfolio {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

.portfolio .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}

.portfolio .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}

.portfolio .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}

.portfolio .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

.portfolio .gol .door {
  width: 800px;
  height: 450px;
  margin: auto;
  margin-top: 40px;
}

.portfolio .gol .door .top {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.portfolio .gol .door .top .sec {
  width: 32.5%;
  height: 100%;
  background-color: aqua;
}

.portfolio .gol .door .top .sec img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .gol .door .bot {
  width: 100%;
  height: 200px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
}

.portfolio .gol .door .bot .sec {
  width: 32.5%;
  height: 100%;
  background-color: aqua;
}

.portfolio .gol .door .bot .sec img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: flex;
}

.contact .back {
  width: 23.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
}

.contact .gol {
  width: 76.5%;
  height: 100vh;
  background-color: rgb(10, 16, 30);
  padding-top: 100px;
}

.contact .gol .deed {
  width: 55%;
  height: 80px;
  margin: auto;
  font-size: 42px;
  text-align: center;
  color: rgba(94, 94, 94, 0.164);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .gol .deed .davhar {
  width: 180px;
  height: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  color: rgb(244, 189, 66);
  font-size: 40px;
  padding-top: 9px;
  border-bottom: 2.5px solid rgb(63, 69, 81);
}

.contact .gol .deed .davhar .line {
  width: 80px;
  height: 2px;
  background-color: rgb(244, 189, 66);
  margin: auto;
  margin-top: 9px;
}

.contact .zuun {
  width: 100px;
  height: 100px;
}

.contact .gol .dood {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 20px;
  display: flex;
}

.contact .gol .dood .left {
  width: 50%;
  height: 100%;
}

.contact .gol .dood .left .garchig {
  width: 100%;
  height: 40px;
  color: white;
}

.contact .gol .dood .left .name {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 10px;
}

.contact .gol .dood .left .name input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  color: white;
}

.contact .gol .dood .left .mail {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .mail input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  color: white;
}

.contact .gol .dood .left .subject {
  width: 95%;
  height: 50px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .subject input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  color: white;
  background-color: rgb(16, 22, 36);
}

.contact .gol .dood .left .message {
  width: 95%;
  height: 150px;
  border: solid 2px rgb(64, 69, 79);
  border-radius: 10px;
  margin-top: 20px;
}

.contact .gol .dood .left .message input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: 0;
  background-color: rgb(16, 22, 36);
  padding-bottom: 100px;
  color: white;
}

.contact .gol .dood .right {
  width: 50%;
  height: 100%;
  padding-left: 10px;
}

.contact .gol .dood .right .garchig {
  width: 100%;
  height: 40px;
  color: white;
}

.contact .gol .dood .right .uguulber {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: rgb(152, 154, 158);
  margin-top: 1px;
}

.contact .gol .dood .right .mail {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .mail .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
}

.contact .gol .dood .right .mail .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .mail .r h4 {
  color: white;
  font-size: 18px;
}

.contact .gol .dood .right .mail .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 3px;
}

.contact .gol .dood .right .phone {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .phone .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
}

.contact .gol .dood .right .phone .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .phone .r h4 {
  color: white;
}

.contact .gol .dood .right .phone .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 10px;
}

.contact .gol .dood .right .adress {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
}

.contact .gol .dood .right .adress .l {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  border: solid 2px rgb(99, 102, 110);
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: gray;
}

.contact .gol .dood .right .adress .r {
  width: 200px;
  height: 50px;
  padding-left: 20px;
}

.contact .gol .dood .right .adress .r h4 {
  color: white;
}

.contact .gol .dood .right .adress .r p {
  color: rgb(152, 154, 158);
  font-size: 14px;
  margin-top: 3px;
}/*# sourceMappingURL=style.css.map */